<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>猫猫名字</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

  <!-- main content -->
  <div class="home-container">
    <!-- head with back button -->
    <div class="head-container">
      <!-- back button -->
      <button class="back-button">
        <i class="fa-solid fa-arrow-left"></i>&nbsp;返回
      </button>
    </div>

    <!-- content container -->
    <div class="content-container">

      <!-- information container -->
      <div class="info-container">
        <!-- image -->
        <div class="image-container">
          <!-- simulation image -->
          <div class="image">
            <p class="image-title"><br>猫猫<br>图片</p>
          </div>
        </div>
        <!-- text -->
        <div class="text-container">
          <div class="name-container">
            <h1 class="name">猫猫名字</h1>
            <p class="state">待领养</p>
          </div>
          <p class="info">
            品种：？？？ <br><br>
            基本信息：已于2024-1-1绝育 <br><br>
            性格：活泼好动，喜欢玩耍 <br><br>
          </p>
        </div>
      </div>

    </div>

    <!-- button container -->
    <div class="button-container">
      <button class="op-button" style="margin-right: 50px">编辑表单</button>
      <button class="op-button"><i class="fa-solid fa-location-dot"></i>&nbsp;定位</button>
      <button class="op-button"><i class="fa-solid fa-pen-to-square"></i>&nbsp;编辑</button>
    </div>

  </div>

</body>
</html> 