<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>猫猫名字</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

  <!-- main content -->
  <div class="home-container">
    <!-- head with back button -->
    <div class="head-container">
      <!-- back button -->
      <button class="back-button">
        <i class="fa-solid fa-arrow-left"></i>&nbsp;返回
      </button>
    </div>

    <!-- content container -->
    <div class="content-container">

      <!-- information container -->
      <div class="info-container">
        <!-- image -->
        <div class="image-container">
          <!-- simulation image -->
          <div class="image">
            <p class="add-icon"><i class="fa-solid fa-plus"></i></p>
          </div>
        </div>
        <!-- text -->
        <div class="text-container">
          <div class="name-container">
            <h1 class="name">名字：</h1>
            <div class="edit-name">猫猫名字</div>
            <select style="margin: 50px 0 0 20px">
              <option disabled selected>选择状态</option>
              <option>已领养</option>
              <option>待领养</option>
              <option>留园观察</option>
              <option>失踪</option>
            </select>
          </div>
          <div class="line-container"></div>
          <div class="line-container">
            <div class="attr-container">品种：</div>
            <select>
              <option disabled selected>选择品种</option>
              <option>橘猫 / 橘白</option>
              <option>玳瑁 / 三花</option>
              <option>狸猫 / 狸白</option>
              <option>奶牛</option>
              <option>纯色</option>
              <option>品种猫</option>
            </select>
          </div>
          <div class="line-container">
            <div class="attr-container">基本信息：</div>
          </div>
          <div class="input-container">还没想好</div>
          <div class="line-container">
            <div class="attr-container">性格：</div>
          </div>
          <div class="input-container">还没想好</div>
        </div>
      </div>

    </div>

    <!-- button container -->
    <div class="button-container">
      <button class="op-button"><i class="fa-solid fa-check"></i>&nbsp;确认</button>
      <button class="op-button"><i class="fa-solid fa-xmark"></i>&nbsp;取消</button>
    </div>

  </div>

</body>
</html> 