<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>查毛毛 - 浙江大学宠物领养系统</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
  <div class="home-container">
    <!-- head container -->
    <div class="head-container">
      <!-- title container -->
      <div class="title-container">
        <p class="title"> 查毛毛 </p>
        <img src="../img/paw.svg" class="logo">
      </div>

      <!-- button container -->
      <div class="button-container">
        <button class="home-button" style="margin-right: 35px"><i class="fa-solid fa-circle-user"></i><br>我的</button>
        <button class="home-button"><i class="fa-solid fa-file"></i><br>申请</button>
        <button class="home-button"><i class="fa-solid fa-location-dot"></i><br>地图</button>
        <button class="home-button"><i class="fa-solid fa-filter"></i><br>筛选</button>
      </div>
  </div>

  <!-- card container -->
  <div class="card-container">
    <!-- card list -->
    <div class="card">
      <!-- simulate cat image -->
      <div class="cat-image">
        <p style="margin-top: 20px; margin-left: 23px">猫猫<br>图片</p>
      </div>
      <!-- simulate cat name -->
      <p class="cat-name">猫猫名字</p>
      <!-- look up button -->
      <button class="look-button">
        <i class="fa-solid fa-magnifying-glass"></i> &nbsp;查看
      </button>
    </div>

    <!-- add card for supervisor -->
    <div class="card">
      <button class="add-button">
        <i class="fa-solid fa-plus"></i>
      </button> 
    </div>
  </div>
  </div>
</body>
</html>