<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>个人信息</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

  <!-- main content -->
  <div class="home-container">

    <!-- title container -->
    <div class="title-container">
      <p style="float: left">吴秋彼</p>
      <!--<p style="float: left; font-size: 30px; margin-left: 0; color: #ff9600">管理员</p>-->
    </div>

    <!-- info container -->
    <div class="info-container">
      <div class="line-container"></div>
      <div class="line-container">
        <div class="text-container">ID: </div>
        <div class="input-container" style="background-color: #ffc23f; color: #fff3d8">12345678</div>
      </div>
      <div class="line-container">
        <div class="text-container">旧密码：</div>
        <div class="input-container">******</div>
      </div>
      <div class="line-container">
        <div class="text-container">新密码：</div>
        <div class="input-container">*********</div>
      </div>
      <div class="line-container">
        <div class="text-container">确认密码：</div>
        <div class="input-container">*********</div>
      </div>
      <div class="line-container">
        <button class="confirm-button">修改</button>
      </div>
    </div>
  </div>
</body>
</html>