@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Kiwi+Maru&family=Noto+Sans+SC:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=ZCOOL+KuaiLe&display=swap');

body, html {
  margin: 0;
  font-family: "ZCOOL KuaiLe", sans-serif;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #ffc23f;
}

.home-container {
  width: 100%;
  padding: 30px;
}

.title-container {
  display: block;
  width: 100%;
  height: 130px;
  color: #fff3d8;
  font-weight: bold;
  font-size: 80px;
  font-family: "ZCOOL KuaiLe", sans-serif;
  padding: 0;
  margin: 0;
}

.title-container p {
  margin: 30px 30px 30px 60px;
}

.info-container {
  display: block;
  width: 100%;
  min-height: 500px;
  color: #fff3d8;
  font-size: 40px;
  font-family: "ZCOOL KuaiLe", sans-serif;
  padding: 0;
}

.line-container {
  display: block;
  width: 100%;
  height: 60px;
  color: #fff3d8;
  font-size: 40px;
  font-family: "ZCOOL KuaiLe", sans-serif;
  margin: 0 0 20px 0 ;
  padding: 0px ;
}

.text-container {
  display: block;
  float: left;
  width: 200px;
  height: 60px;
  font-size: 40px;
  font-family: "ZCOOL KuaiLe", sans-serif;
  margin: 0 0 0 60px ;
  padding: 0px ;
}


.input-container {
  display: block;
  float: left;
  width: 400px;
  height: 50px;
  font-size: 30px;
  font-family: "ZCOOL KuaiLe", sans-serif;
  border: none;
  border-radius: 5px;
  color: #ffc23f;
  background-color: #fff3d8;
  padding: 10px 0 0 20px;
}

.confirm-button {
  display: block;
  width: 160px;
  height: 60px;
  padding: 10px 20px 10px 20px;
  font-size: 30px;
  font-family: "ZCOOL KuaiLe", sans-serif;
  border: none;
  border-radius: 5px;
  background-color: #ff9600;
  color: #fff3d8;
  margin: 30px 0 0 60px;
  text-align: center;
}