<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>猫猫地图</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

<!--<iframe
  width="100%"
  height="450"
  style="border:0"
  loading="lazy"
  allowfullscreen
  referrerpolicy="no-referrer-when-downgrade"
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3431.460306644379!2d120.1211340151237!3d30.26553298179226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x344b1fce6d03dd75%3A0x2f2c1c262de2c232!2sZhejiang%20University%20Yuquan%20Campus!5e0!3m2!1sen!2scn!4v1680000000000!5m2!1sen!2scn">
</iframe>-->

  <!-- main content -->
  <div class="home-container">


    <!-- head with back button -->
    <div class="head-container">
      <!-- back button -->
      <button class="back-button">
        <i class="fa-solid fa-arrow-left"></i>&nbsp;返回
      </button>
    </div>

    <!-- content container -->
    <div class="content-container">

      <!-- map container -->
      <div class="map-container">

        <!-- title container -->
        <div class="title-container">
          <h1 class="title">猫猫地图</h1>
          <!-- add button -->
          <button class="add-button">
            <i class="fa-solid fa-plus"></i>
          </button>
        </div>

        <!-- map -->
        <div class="iframe-container">
          <iframe 
            width="100%"
            height="450"
            style="border:0"
            loading="lazy"
            allowfullscreen
            referrerpolicy="no-referrer-when-downgrade"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3431.460306644379!2d120.1211340151237!3d30.26553298179226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x344b1fce6d03dd75%3A0x2f2c1c262de2c232!2sZhejiang%20University%20Yuquan%20Campus!5e0!3m2!1sen!2scn!4v1680000000000!5m2!1sen!2scn">
          </iframe>
        </div>
      </div>
    </div>
  </div>

</body>
</html>