<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>领养猫猫名字</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

  <!-- main content -->
  <div class="home-container">
    <!-- head with back button -->
    <div class="head-container">
      <!-- back button -->
      <button class="back-button">
        <i class="fa-solid fa-arrow-left"></i>&nbsp;返回
      </button>
    </div>

    <div class="content">
      <p>1. 先下载领养材料和申请表模板</p><br>
      <button class="op-button"><i class="fa-solid fa-download"></i>下载材料</button><br>
      <p>2. 填写表单后上传</p>
      <button class="op-button"><i class="fa-solid fa-upload"></i>上传申请表</button><br>
      <p>3. 确认提交</p>
      <button class="op-button"><i class="fa-solid fa-paper-plane"></i>提交申请</button><br>
    </div>
  </div>
</body>
</html>